<html>
<head>
    <title>Calendar</title>
    <meta charset="utf-8">
</head>
<body>
    <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
    <div class="containe">
        <div id='calendar' class="col-lg-4"></div>
        <div class="col-sm-4">
            <h2>Workouts</h2>
            <div class=""></div>
            <div class="messages"></div>
            <div class="exercises">
            </div>

        </div>
    </div>



    <script>

        var mesDic = {};
        {% for measure in measures %}
            mesDic['{{ measure.id }}'] = {'name':'{{ measure.names }}', 'unit':'{{ measure.units }}'};
        {% endfor %}

        var workouts = [];
        {% for day in calendar %}
        var dayEvent = [];
        dayEvent['id'] = '{{ day.id }}'
        dayEvent['start'] = '{{ day.dateFormat }}';
        dayEvent['title'] = '{{ day.names }}';
        if (!dayEvent['title']) {
            dayEvent['title'] = 'workout';
        }
        workouts.push(dayEvent);
        {% endfor %}
//        console.log(workouts);
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                events: workouts,
                eventClick: function(calEvent) {
                    $.ajax( "/app_dev.php/getWorkout/" + calEvent.id )
                        .done(function( json ) {
                                showExercise(json);
                        })
                        .fail(function( jqxhr, textStatus, error ) {
                            alert('Lohhhh!');
                        });
                }
            });
            $('.exercises').on('click', 'button',
                    function() {
                        if (this.id === 'addSet') {
                            console.log('addSet');
                        } else if ('subSet') {
                            console.log('subSet');
                        }
                    }
            );
            $('.exercises').on('click', 'td',
                    function() {
                        var td = $(this);

                        if( !td.children().length && td.attr('id') ) {
                            var id = td.attr('id'),
                            val = td.text();
                            td.html($('<input value="" type="text"/>').attr('id', id).attr('size', 3).val(val));
                            $('input').trigger('focus');
                        }
                    }
            );
            $('.exercises').on('change', 'input',
                    function() {
                        var data = returnTable($(this));
                        editSet(data);
                    }
            );

            $('.exercises').on('focusout', 'input',
                    function() {
                        returnTable($(this));
                    }
            );

            function returnTable(elem) {
                var mesId = elem.parent('td').parent('tr').attr('id'),
                        id = elem.attr('id'),
                        val = elem.val();
                elem.parent('td').text(val);
                return {'id': id, 'mesId': mesId, 'val': val};

            }

            function editSet(mes) {
                $.ajax({url: "/app_dev.php/updateSet",
                    type: 'POST',
                    data: mes
                })
                        .done(function( json ) {
                            $('.messages').html('<div class="alert alert-success fade in">' +
                                    '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>'+
                            '<strong>Sets were saved!</strong></div>')

                        })
                        .fail(function( jqxhr, textStatus, error ) {
                            $('.messages').html('<div class="alert alert-danger fade in">' +
                                    '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>'+
                                    '<strong>Sets weren\'t save!</strong></div>')
                        });
            }
        });

        function showExercise(response) {
            console.log(response);
            $('.exercises').text("");
            $.each(response, function( index, exercise ) {
                        var     exe = $('<div id="' + exercise.id + '"></div>').append($('<h3></h3>').text(exercise.name));
                        exe.append(getSets(exercise.sets));
                        exe.append($('<button></button>').attr('id', 'addSet').text('+').addClass('btn btn-primary btn-sm'));
                        exe.append($('<span> </span>'));
                        exe.append($('<button></button>').attr('id', 'subSet').text('-').addClass('btn btn-danger btn-sm'));
                        $('.exercises').append(exe);

                    }
            )
        }

        function getSets(sets) {
            var keys = [],
                    table = $('<table class="table"><thead></thead><tbody></tbody></table>');
                    thead = table.find('thead');
                    thead.append($('<th></th>'));
                    var it = 1;
            $.each(sets, function( i, rep ) {
                        if (keys.length === 0) {
                            keys = $.map(rep, function(element,index) {return index});
                        }
                        // Fix attr throught bootstrap
                        thead.append($('<th></th>').text(it))
                        $.each(keys, function(j, key) {
                          var tr = table.find('tbody').find('#'+key);
                          if (tr.length === 0) {
                              table.find('tbody').append($('<tr id="' + key + '"></tr>'))
                              tr = table.find('tbody').find('#'+key);
                              tr.append($('<td></td>').text(mesDic[key]['name'] + ', ' + mesDic[key]['unit']));
                          }
                          // Fix attr throught bootstrap
                          tr.append($('<td></td>').text(rep[key]).attr('id', i));
                          table.find('tbody').append(tr);
                        });
                        it++;
                    });
            return table;
        };

    </script>


</body>
</html>
